@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Food Project Detail";
}


<h1>@ViewBag.FoodName</h1>
<h2>Cost:$@ViewBag.UnitCost</h2>

<h5>Description:</h5>
<div>@Html.Raw(ViewBag.Description)</div>

@if(ViewBag.Recipes.Length > 0)
{
<h5>Recipes</h5>
<div>
	<ul>
		@foreach (var recipe in ViewBag.Recipes)
	{
		<li>@recipe</li>
}
	</ul>
</div>
}


